body{
    font-family: 'Roboto' , 'sans-serif';
  }
  .row {
    margin-right: 0px;
  }
  .b-right-wrapper svg{
    margin-left: 98%;
    margin-top: -40px;
    cursor: pointer;
  
  }

  .icon-wrap svg{
    margin-top: 13px;
  }
  .ic-wrap svg {
    margin-left: 65%;
    margin-top: -20px;
    position: absolute;
  }
 
  