.service-wraper{
  
    position: relative;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 6px;

}

.service-wraper .icon-wrap{
    height: 53px;
    width: 53px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    background-color: #78adde;
    text-align: center;
    top: -20px;
    left: 25px;
   

}

.service-wraper .service-title{
    margin-top: 29px;
    color: #1D2A53;
    font-weight: 600;
    letter-spacing: 0px;
}
.service-wraper .service-text{
    color: #526C94;
    text-align: left;

}